<template>
  <v-container fill-height>
    <v-layout row align-center justify-center>
      <v-flex xs8>
        <v-card>
          <v-card-title>
            <span class="title font-weight-light">Iniciar Sesión</span>
          </v-card-title>
          <v-container>
            <v-layout row>
              <v-flex xs12>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field
                    v-model="username"
                    label="Codigo de alumno"
                    required
                  ></v-text-field>
                  <v-btn @click="login" color="primary">Ingresar</v-btn>
                </v-form>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'LoginForm',
  data: () => ({
    username: '',
    valid: true,
  }),
  methods: {
    login() {
      this.$emit('login', {
        code: this.username,
      });
      // this.$refs.form.reset();
    },
  },
};
</script>
