<template>
  <v-container fill-height>
    <v-layout row align-center justify-center>
      <v-flex xs8>
        <v-card>
          <v-card-title>
            <span class="title font-weight-light">Registrarse</span>
          </v-card-title>
          <v-container>
            <v-layout row wrap>
              <v-flex xs12>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-layout>
                    <v-flex xs6 pa-3>
                      <v-text-field v-model="code" label="Codigo de alumno" required></v-text-field>
                      <v-text-field v-model="document" label="Documento de identidad" required></v-text-field>
                      <v-text-field v-model="name" label="Nombre" required></v-text-field>
                      <v-text-field v-model="lastName1" label="Apellido Paterno" required></v-text-field>
                      <v-text-field v-model="lastName2" label="Apellido Materno" required></v-text-field>
                      <v-text-field v-model="birthday" label="Fecha de nacimiento" required></v-text-field>
                      <v-btn @click="register" color="primary">Registrar</v-btn>
                    </v-flex>
                    <v-flex xs6 pa-3>
                      <v-text-field v-model="address" label="Domicilio" required></v-text-field>
                      <v-text-field v-model="phone" label="Telefono" required></v-text-field>
                      <v-text-field v-model="cellphone" label="Celular" required></v-text-field>
                      <v-text-field v-model="email1" label="Email Personal" required></v-text-field>
                      <v-text-field v-model="email2" label="Email laboral" required></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "RegisterForm",
  data: () => ({
    code: '',
    document: '',
    name: '',
    lastName1: '',
    lastName2: '',
    birthday: null,
    address: '',
    phone: '',
    cellphone: '',
    email1: '',
    email2: '',
    valid: true,
  }),
  methods: {
    register() {
      this.$emit('register', {
        code: this.code,
        username: this.username,
        password: this.password,
        document: this.document,
        name: this.name,
        lastName1: this.lastName1,
        lastName2: this.lastName2,
        birthday: this.birthday,
        address: this.address,
        phone: this.phone,
        cellphone: this.cellphone,
        email1: this.email1,
        email2: this.email2,
      });
      //this.$refs.form.reset();
    },
  },
};
</script>
