<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <h2>Experiencia Laboral</h2>
      </v-flex>
      <v-flex xs12>
        <v-data-table :headers="headers" :items="infoRegs" class="elevation-1">
          <template v-slot:items="props">
            <td>{{ props.item.entity }}</td>
            <td>{{ props.item.time }}</td>
          </template>
        </v-data-table>
        <v-dialog v-model="popup" scrollable persistent max-width="600px">
          <v-card>
            <v-card-title>
              <span class="headline">Registrar experiencia</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field v-model="info.entity" label="Entidad"></v-text-field>
                    <v-text-field v-model="info.entityType" label="Tipo de entidad"></v-text-field>
                    <v-select
                      :items="roles"
                      item-text="name"
                      item-value="value"
                      label="Cargo"
                    ></v-select>
                    <v-textarea
                      v-model="info.functions"
                      label="Principales funciones"
                      hint="Describa las principales funciones realizadas"
                    ></v-textarea>
                    <v-select
                      :items="types"
                      item-text="name"
                      item-value="value"
                      label="Tiempo"
                    ></v-select>
                    <v-select
                      v-model="info.contractType"
                      :items="contracts"
                      item-text="name"
                      item-value="value"
                      label="Tipo de vinculo"
                    ></v-select>
                    <!-- <v-text-field v-model="info.time" label="Tiempo"></v-text-field> -->
                  </v-flex>
                  <v-flex xs12>
                    <div class="mb-4">
                      <h3>Jefe Inmediato Superior</h3>
                    </div>
                    <v-text-field v-model="info.bossName" label="Nombre"></v-text-field>
                    <v-text-field v-model="info.bossEmail" label="Email"></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="popup = false">Cerrar</v-btn>
              <v-btn color="blue darken-1" flat @click="saveInfo">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
      <v-btn @click="popup = true" fixed dark fab bottom right color="pink">
        <v-icon>add</v-icon>
      </v-btn>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "ExperienciaLaboral",
  data: () => ({
    headers: [
      {
        text: "Entidad",
        value: "entity"
      },
      {
        text: "Tiempo",
        value: "time"
      }
    ],
    popup: false,
    info: {
      entity: "",
      entityType: "",
      position: "",
      functions: "",
      contractType: null,
      time: "",
      bossName: "",
      bossEmail: ""
    },
    infoRegs: [],
    types: [
      {
        name: "Tiempo completo",
        value: 1
      },
      {
        name: "Medio tiempo",
        value: 2
      },
      {
        name: "Por horas",
        value: 3
      },
      {
        name: "Freelance",
        value: 4
      }
    ],
    contracts: [
      {
        name: "Practicante",
        value: 1
      },
      {
        name: "Dependiente",
        value: 2
      },
      {
        name: "Independiente",
        value: 3
      }
    ],
    roles: [
      {
        name: "Gerente",
        value: 1
      },
      {
        name: "Subgerente",
        value: 2
      },
      {
        name: "Director",
        value: 3
      },
      {
        name: "Subdirector",
        value: 4
      },
      {
        name: "Jefe",
        value: 5
      },
      {
        name: "Coordinador",
        value: 6
      },
      {
        name: "Gestor",
        value: 7
      },
      {
        name: "Arquitecto",
        value: 8
      },
      {
        name: "DBA",
        value: 9
      },
      {
        name: "Analista",
        value: 10
      }
    ]
  }),
  methods: {
    initialFormData() {
      return {
        entity: "",
        entityType: "",
        position: "",
        functions: "",
        contractType: "",
        time: "",
        bossName: "",
        bossEmail: ""
      };
    },
    saveInfo() {
      this.infoRegs.push(this.info);
      this.info = this.initialFormData();
      this.popup = false;
    }
  }
};
</script>
