<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12>
        <h2>Formación Académica</h2>
      </v-flex>
      <v-flex xs12>
        <v-data-table :headers="headers" :items="infoRegs" class="elevation-1">
          <template v-slot:items="props">
            <td>{{ props.item.formacion_id }}</td>
            <td>{{ props.item.formacion_calumno }}</td>
            <td>{{ props.item.id_programa }}</td>
          </template>
        </v-data-table>
      </v-flex>
      <v-flex xs12>
        <v-dialog v-model="popup" scrollable persistent max-width="600px">
          <v-card>
            <v-card-title>
              <span class="headline">Registrar experiencia</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-form>
                      <label>Programa cursado</label>
                      <v-select v-model="program" item-text="nom_programa" item-value="id_programa" :items="programs" label="Programa cursado"></v-select>
                      <label>Semestre academico de ingreso</label>
                      <v-text-field v-model="ingreso" label="Semestre academico que ingresó"></v-text-field>
                      <label>Semestre academica de egreso</label>
                      <v-text-field v-model="egreso" label="Semestre academica que egresó"></v-text-field>
                      <label>Situación academica actual</label>
                      <v-select v-model="situation" :items="situations" label="Situación académica actual"></v-select>
                    </v-form>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="popup = false">Cerrar</v-btn>
              <v-btn color="blue darken-1" flat @click="saveInfo">Registrar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
      <v-btn @click="popup = true" fixed dark fab bottom right color="pink">
        <v-icon>add</v-icon>
      </v-btn>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  name: "FormacionAcademica",
  data: () => ({
    programs: ["Maestría", "Doctorado"],
    situations: ["Egresado", "Graduado"],
    popup: false,
    infoRegs: [],
    headers: [
      {
        text: "Id",
        value: "entity",
      },
      {
        text: 'Alumno',
        value: 'entity',
      },
      {
        text: "Programa",
        value: "time"
      }
    ],
    program: null,
    ingreso: '',
    egreso: '',
    situation: null,
  }),
  methods: {
    saveInfo() {
      this.saveFormacion();
    },
    async fetchPrograms() {
      const response = await axios.get(process.env.VUE_APP_API + '/programs');
      this.programs = response.data;
    },
    async fetchAcademica() {
      const userInfo = JSON.parse(localStorage.getItem('userInfo'));
      const response = await axios.get(process.env.VUE_APP_API + '/academica/' + userInfo.cod_alumno);
      if (response.status === 200) this.infoRegs = response.data;
    },
    async saveFormacion() {
      const userInfo = JSON.parse(localStorage.getItem('userInfo'));
      const response = await axios.post(process.env.VUE_APP_API + '/academica', {
        formacion: {
          programId: this.program,
          code: userInfo.cod_alumno,
        },
      });
      if (response.status === 200) {
        this.fetchAcademica();
        this.popup = false;
      }
    },
  },
  mounted() {
    this.fetchAcademica();
    this.fetchPrograms();
  },
};
</script>
