<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>FISI</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn to="/" flat>
        <span>Iniciar Sesión</span>
      </v-btn>
      <v-btn to="/register" flat>
        <span>Registrarse</span>
      </v-btn>
    </v-toolbar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>
<script>
export default {
  name: "HomeStack"
};
</script>
