<template>
  <LoginForm @login="handleLogin($event)"/>
</template>
<script>
import axios from 'axios';
import LoginForm from '../components/Login/LoginForm.vue';

export default {
  name: 'Login',
  components: {
    LoginForm,
  },
  methods: {
    async handleLogin(event) {
      const { code } = event;
      const resp = await axios.post(process.env.VUE_APP_API + '/login', {
        code,
      });
      console.log(resp);
      if (resp.status !== 200) alert('No se encontro al usuario');
      else {
        localStorage.setItem('userInfo', JSON.stringify(resp.data));
        this.$router.push({
          path: '/dashboard',
        });
      }
    },
  },
};
</script>
