<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <h1 class="display-2 font-weight-light">Perfil de usuario</h1>
      </v-flex>
      <v-flex v-if="!user" xs12>
        <h2>Cargando datos de alumno...</h2>
      </v-flex>
      <v-flex v-else xs12>
        <h3 class="headline">Bienvenido, {{user.nom_alumno}} {{user.ape_paterno}}  {{user.ape_materno}}</h3>
        <v-layout column>
          <span>Codigo de alumno: {{user.cod_alumno}}</span>
          <span>Email: {{user.correo_personal}}</span>
          <span>Fecha de nacimiento: {{user.nac_fecha}}</span>
          <span>Telefono: {{user.telefono}}</span>
          <span>Celular: {{user.telefono_movil}}</span>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Profile',
  data: () => ({
    user: null,
  }),
  mounted() {
    const userInfo = localStorage.getItem('userInfo');
    this.user = JSON.parse(userInfo);
    console.log(this.user);
  },
};
</script>
