<template>
  <RegisterForm @register="handleRegister($event)"/>
</template>

<script>
import axios from 'axios';
import RegisterForm from '../components/Register/RegisterForm.vue';

export default {
  name: 'Register',
  components: {
    RegisterForm,
  },
  methods: {
    async handleRegister(person) {
      const response = await axios.post(process.env.VUE_APP_API + '/register', {
        person,
      });
      if (response.status === 200) this.$router.push('/');
    },
  },
};
</script>
