<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <h2>Actualizar Información Personal</h2>
      </v-flex>
      <v-flex xs12>
        <v-layout row wrap>
          <v-flex xs6>
            <v-text-field v-model="code" disabled label="Codigo de alumno" required></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="document" disabled label="Documento de identidad" required></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="name" disabled label="Nombre" required></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="lastName1" disabled label="Apellido Paterno" required></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="lastName2" disabled label="Apellido Materno" required></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="birthday" disabled label="Fecha de Nacimiento" required></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="address" label="Domicilio" required></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="phone" label="Telefono" required></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="cellphone" label="Celular" required></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="email1" label="Email personal" required></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="email2" label="Email laboral" required></v-text-field>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12>
        <v-btn color="primary" @click="updatePerson()">Actualizar</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  name: "Update",
  data: () => ({
    code: "",
    document: "",
    name: "",
    lastName1: "",
    lastName2: "",
    birthday: null,
    address: "",
    phone: "",
    cellphone: "",
    email1: "",
    email2: "",
  }),
  methods: {
    async updatePerson() {
      const person = {
        code: this.code,
        document: this.document,
        name: this.name,
        lastName1: this.lastName1,
        lastName2: this.lastName2,
        birthday: this.birthday,
        address: this.address,
        phone: this.phone,
        cellphone: this.cellphone,
        email1: this.email1,
        email2: this.email2,
      };
      const response = await axios.post(process.env.VUE_APP_API + '/update', {
        person,
      });
      if (response.status === 200) alert('Se actualizó correctamente');
    },
  },
  mounted() {
    const storedUser = JSON.parse(localStorage.getItem('userInfo'));
    this.code = storedUser.cod_alumno;
    this.document = storedUser.dni_m;
    this.name = storedUser.nom_alumno;
    this.lastName1 = storedUser.ape_paterno;
    this.lastName2 = storedUser.ape_materno;
    this.birthday = storedUser.nac_fecha;
    this.phone = storedUser.telefono;
    this.cellphone = storedUser.telefono_movil;
    this.email1 = storedUser.correo;
    this.email2 = storedUser.correo_personal;
    console.log(storedUser);
  },
};
</script>
