<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <h2>Valorar Servicios Universitarios</h2>
      </v-flex>
      <v-flex xs12>
        <v-select label='Formacion' item-text='formacion_id' item-value='formacion_id' v-model="formacionId" :items="formacionIds"></v-select>
      </v-flex>
      <v-flex xs12>
        <v-layout row wrap>
          <v-flex xs12 md6>
            <label class="caption" for>
              Formación integral
            </label>
            <v-radio-group class="no-space" v-model="radioGroup1" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Calidad docente
            </label>
            <v-radio-group class="no-space" v-model="radioGroup2" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Calidad de atención del asesor de tesis
            </label>
            <v-radio-group class="no-space" v-model="radioGroup3" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Calidad de atención del personal de la oficina
            </label>
            <v-radio-group class="no-space" v-model="radioGroup4" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Calidad de atención del director
            </label>
            <v-radio-group class="no-space" v-model="radioGroup5" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Servicio del trámite administrativo
            </label>
            <v-radio-group class="no-space" v-model="radioGroup6" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Bibliotecas
            </label>
            <v-radio-group class="no-space" v-model="radioGroup7" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Bases de datos indexadas
            </label>
            <v-radio-group class="no-space" v-model="radioGroup8" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Apoyo para la difusión de resultados de investigación
            </label>
            <v-radio-group class="no-space" v-model="radioGroup9" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Realización de eventos científicos
            </label>
            <v-radio-group class="no-space" v-model="radioGroup10" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Infraestructura
            </label>
            <v-radio-group class="no-space" v-model="radioGroup11" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Servicios higiénicos
            </label>
            <v-radio-group class="no-space" v-model="radioGroup12" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Laboratorios
            </label>
            <v-radio-group class="no-space" v-model="radioGroup13" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Aulas
            </label>
            <v-radio-group class="no-space" v-model="radioGroup14" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>Laboratorios de investigación</label>
            <v-radio-group class="no-space" v-model="radioGroup15" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Estacionamiento
            </label>
            <v-radio-group class="no-space" v-model="radioGroup16" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Inserción laboral
            </label>
            <v-radio-group class="no-space" v-model="radioGroup17" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Vinculación con instituciones nacionales
            </label>
            <v-radio-group class="no-space" v-model="radioGroup18" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Vinculación con instituciones internacionales
            </label>
            <v-radio-group class="no-space" v-model="radioGroup19" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Seguro de salud (Autoseguro)
            </label>
            <v-radio-group class="no-space" v-model="radioGroup20" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Movilidad interna (Uso del autobús universitario)
            </label>
            <v-radio-group class="no-space" v-model="radioGroup21" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Comedor universitario
            </label>
            <v-radio-group class="no-space" v-model="radioGroup22" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>
              Movilidad estudiantil (Pasantías en el extranjero)
            </label>
            <v-radio-group class="no-space" v-model="radioGroup23" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 md6>
            <label class="caption" for>Carné universitario</label>
            <v-radio-group class="no-space" v-model="radioGroup24" row>
              <v-radio v-for="n in options" :key="n.value" :label="`${n.name}`" :value="n.value"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12>
            <v-btn color="primary" @click="save()">Registrar</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  name: "ValorarServicios",
  data: () => ({
    formacionId: null,
    formacionIds: [],
    options: [
      {
        name: "Excelente",
        value: 1
      },
      {
        name: "Muy Bueno",
        value: 2
      },
      {
        name: "Bueno",
        value: 3
      },
      {
        name: "Regular",
        value: 4
      },
      {
        name: "Pésimo",
        value: 5
      }
    ],
    radioGroup1: 1,
    radioGroup2: 1,
    radioGroup3: 1,
    radioGroup4: 1,
    radioGroup5: 1,
    radioGroup6: 1,
    radioGroup7: 1,
    radioGroup8: 1,
    radioGroup9: 1,
    radioGroup10: 1,
    radioGroup11: 1,
    radioGroup12: 1,
    radioGroup13: 1,
    radioGroup14: 1,
    radioGroup15: 1,
    radioGroup16: 1,
    radioGroup17: 1,
    radioGroup18: 1,
    radioGroup19: 1,
    radioGroup20: 1,
    radioGroup21: 1,
    radioGroup22: 1,
    radioGroup23: 1,
    radioGroup24: 1,
  }),
  methods: {
    async save() {
      const responses = {
        formAcad: this.radioGroup1,
        calDoc: this.radioGroup2,
        sisBiblio: this.radioGroup7,
        difInvest: this.radioGroup9,
        infra: this.radioGroup11,
        insLab: this.radioGroup17,
        sectorPub: this.radioGroup18,
        sectorPriv: this.radioGroup19,
        formInt: this.radioGroup1,
        bienUniv: this.radioGroup22,
        instInt: this.radioGroup19,
        movilidad: this.radioGroup21,
      };
      const resp = await axios.post(process.env.VUE_APP_API + '/servicios', {
        responses,
        formacionId: this.formacionId,
      });
      if (resp.status === 200) alert('Registro correcto');
    },
    async fetchAcademica() {
      const userInfo = JSON.parse(localStorage.getItem('userInfo'));
      const response = await axios.get(process.env.VUE_APP_API + '/academica/' + userInfo.cod_alumno);
      if (response.status === 200) this.formacionIds = response.data;
    },
  },
  mounted() {
    this.fetchAcademica();
  },
};
</script>

<style>
.no-space label {
  font-size: 12px;
}
</style>
