<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12>
        <h2>Valore la formacion academica recibida</h2>
      </v-flex>
      <v-flex xs12>
        <label for>
          De que manera los estudios de posgrado
          cursados ha influenciado en su desarrollo profesional
        </label>
        <v-textarea name="input-7-1" hint="Su respuesta"></v-textarea>
        <v-btn @click="popup = true" flat>Perfil de egreso</v-btn>
        <span>{{label}}</span>
        <v-select
          item-text="title"
          item-value="value"
          :items="options"
          label="Valoracion de perfil"
        ></v-select>
        <v-select
          item-text="title"
          item-value="value"
          :items="options"
          label="Valoracion de plan de estudios cursado"
        ></v-select>
        <v-btn color="info">Registrar</v-btn>
      </v-flex>
      <v-dialog v-model="popup" scrollable max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Perfil de egreso</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs6>
                  <label for="">Perfil de egreso del Doctorado en Ingenieria de Sistemas e Informatica</label>
                  <v-btn @click="setLabel('Perfil de egreso del Doctorado en Ingenieria de Sistemas e Informatica')" flat>Escoger</v-btn>
                </v-flex>
                <v-flex xs6>
                  <label for="">Perfil de egreso de la maestria en Ingenieria de Sistemas e Informatica mencion en Ingenieria de Software</label>
                  <v-btn @click="setLabel('Perfil de egreso de la maestria en Ingenieria de Sistemas e Informatica mencion en Ingenieria de Software')" flat>Escoger</v-btn>
                </v-flex>
                <v-flex xs6>
                  <label for="">Perfil de egreso de la maestria en Ingenieria de Sistemas e Informatica mencion
                    en Gestion de Tecnologia de informacion y comunicaciones
                  </label>
                  <v-btn @click="setLabel('Perfil de egreso de la maestria en Ingenieria de Sistemas e Informatica mencion en Gestion de Tecnologia de informacion y comunicaciones')" flat>Escoger</v-btn>
                </v-flex>
                <v-flex xs6>
                  <label for="">Perfil de egreso de la maestria en Ingenieria de Sistemas e Informatica mencion
                    en Direccion de Tecnologia de informacion y comunicaciones
                  </label>
                  <v-btn @click="setLabel('Perfil de egreso de la maestria en Ingenieria de Sistemas e Informatica mencion en Direccion de Tecnologia de informacion y comunicaciones')" flat>Escoger</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "Valorar Academica",
  data: () => ({
    label: '',
    popup: false,
    options: [
      {
        title: "Muy relevante",
        value: 1
      },
      {
        title: "Medianamente relevante",
        value: 2
      },
      {
        title: "Poco relevante",
        value: 3
      },
      {
        title: "Nada relevante",
        value: 4
      }
    ]
  }),
  methods: {
    setLabel(label) {
      this.label = label;
      this.popup = false;
    },
  },
};
</script>
